{% extends 'base_pop.html' %}
{% load staticfiles %}
{% load static_tag %}
{% block head %}
    <title>admin</title>
    <style>
    form {
        text-align: center;
    }
    input.form-control{
        width: 300px;
    }
    form > div {
        margin-top: 10px;
    }
    </style>
{% endblock %}
{% block body %}
{#{{ ad_list }}#}
{#{% url_for '1231231' %}#}
<form action="" method="post" class="form-horizontal">
    {% csrf_token %}
    <div class="col-xs-12">
        <label for="name" class="col-xs-4 control-label">name:</label>
        <div class="col-xs-8">
          <input type="text" class="form-control" name="name"  value="{{ user.name }}">
        </div>
    </div>
    <div class="col-xs-12">
        <label for="email" class="col-xs-4 control-label">email:</label>
        <div class="col-xs-8">
            {% if user.email %}
                <input type="email" class="form-control" name="email"  value="{{ user.email}}">
            {% else %}
                <input type="email" class="form-control" name="email"  value="">
            {% endif %}
        </div>
    </div>
    <div class="col-xs-12">
        <label for="title" class="col-xs-4 control-label">title:</label>
        <div class="col-xs-8">
            {% if user.title %}
                <input type="text" class="form-control" name="title"  value="{{ user.title}}">
            {% else %}
                <input type="text" class="form-control" name="title"  value="">
            {% endif %}
        </div>
    </div>
    <div class="col-xs-12">
        <label for="title" class="col-xs-4 control-label">desc:</label>
        <div class="col-xs-8">
            {% if user.desc %}
                <input type="text" class="form-control" name="desc"  value="{{ user.desc}}">
            {% else %}
                <input type="text" class="form-control" name="desc"  value="">
            {% endif %}
        </div>
    </div>
    <div class="col-xs-12">
        <button class="btn btn-default" id="submit" type="button">提交</button>
    </div>
</form>

{% endblock %}

{% block script %}
    <script>
    $('#submit').click(function (event) {
        event.stopPropagation();
        let form_data = $("form").serializeArray();
        let data = {};
        console.log(form_data)
        $.each(form_data, function (index, arrayData) {
            if (data[arrayData.name] !== undefined && data[arrayData.name].constructor === Array) {

                data[arrayData.name].push(arrayData.value)
            } else if (data[arrayData.name] !== undefined) {
                data[arrayData.name] = [data[arrayData.name]];
                data[arrayData.name].push(arrayData.value)
            } else {
                data[arrayData.name] = (arrayData.value)
            }
        });
        console.log(data)
        let index = parent.layer.getFrameIndex(window.name)
        $.post({
            url:'',
            data:data,
            success:function (data) {
                return data
            }
        }).then(function (data) {
            if (data.code === 400){
                layer.msg(data.message)
            }else  if(data.code === 200){
                layer.msg(data.message)
                setTimeout(
                    function () {
                        parent.layer.close(index)
                    }, 2000
                )
            }
        })
    })

    </script>
{% endblock %}